body {
    width: 400px;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]+label {
    background-color: white !important;
}
  
input[type=checkbox]:checked+label {
    background-color: aqua !important;
}

.grid {
    display: grid;
}
  
.halved {
    grid-template-columns: repeat(2, 1fr);
}
  